.elementor-32 .elementor-element.elementor-element-e775626>.elementor-container {
    min-height: 50vh;
}

.elementor-32 .elementor-element.elementor-element-e775626:not(.elementor-motion-effects-element-type-background),
.elementor-32 .elementor-element.elementor-element-e775626>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ffffff;
    background-image: url('pattern2.png');
    background-position: center center;
    background-repeat: no - repeat;
    
}

.elementor-32 .elementor-element.elementor-element-e775626>.elementor-background-overlay {
    background-color: #e5ffe3ca;
    opacity: 0.94;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-32 .elementor-element.elementor-element-e775626 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -150px;
    margin-bottom: 0px;
    padding: 150px 0px 120px 0px;
}

.elementor-32 .elementor-element.elementor-element-edadda2>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 30px 30px 30px;
}

.elementor-32 .elementor-element.elementor-element-edadda2>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-32 .elementor-element.elementor-element-768aeef .elementor-heading-title {
    font-family: "Exo 2", Sans-serif;
    font-size: 60px;
    font-weight: 700;
}

.elementor-32 .elementor-element.elementor-element-579a639 {
    color: #111111;
    font-size: 16px;
    line-height: 26px;
}

.elementor-32 .elementor-element.elementor-element-65af4dc {
    color: var( --e-global-color-secondary);
}

.elementor-32 .elementor-element.elementor-element-bf1f23c>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-32 .elementor-element.elementor-element-f8f927b .elementor-button .elementor-align-icon-right {
    margin-left: 20px;
}

.elementor-32 .elementor-element.elementor-element-f8f927b .elementor-button .elementor-align-icon-left {
    margin-right: 20px;
}

.elementor-32 .elementor-element.elementor-element-f8f927b .elementor-button {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
    fill: #ffffff;
    color: #ffffff;
    background-color: var( --e-global-color-81f8c6f);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 4px 34px 0px rgba(35.999999999999986, 87, 255, 0.25098039215686274);
    padding: 18px 34px 18px 34px;
}

.elementor-32 .elementor-element.elementor-element-f8f927b .elementor-button:hover,
.elementor-32 .elementor-element.elementor-element-f8f927b .elementor-button:focus {
    color: #ffffff;
    background-color: var( --e-global-color-accent);
}

.elementor-32 .elementor-element.elementor-element-f8f927b .elementor-button:hover svg,
.elementor-32 .elementor-element.elementor-element-f8f927b .elementor-button:focus svg {
    fill: #ffffff;
}

.elementor-32 .elementor-element.elementor-element-ed25a62 .elementor-button .elementor-align-icon-right {
    margin-left: 20px;
}

.elementor-32 .elementor-element.elementor-element-ed25a62 .elementor-button .elementor-align-icon-left {
    margin-right: 20px;
}

.elementor-32 .elementor-element.elementor-element-ed25a62 .elementor-button {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
    fill: var( --e-global-color-text);
    color: var( --e-global-color-text);
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 4px 34px 0px rgba(35.999999999999986, 87, 255, 0.25098039215686274);
    padding: 18px 34px 18px 34px;
}

.elementor-32 .elementor-element.elementor-element-ed25a62 .elementor-button:hover,
.elementor-32 .elementor-element.elementor-element-ed25a62 .elementor-button:focus {
    color: #ffffff;
    background-color: var( --e-global-color-accent);
}

.elementor-32 .elementor-element.elementor-element-ed25a62 .elementor-button:hover svg,
.elementor-32 .elementor-element.elementor-element-ed25a62 .elementor-button:focus svg {
    fill: #ffffff;
}

.elementor-32 .elementor-element.elementor-element-e4423e9 {
    --grid-template-columns: repeat(0, auto);
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-32 .elementor-element.elementor-element-e4423e9 .elementor-widget-container {
    text-align: left;
}

.elementor-32 .elementor-element.elementor-element-e4423e9 .elementor-social-icon {
    background-color: var( --e-global-color-81f8c6f);
}

.elementor-32 .elementor-element.elementor-element-e4423e9>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-32 .elementor-element.elementor-element-ca6697a>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-32 .elementor-element.elementor-element-ca6697a>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-32 .elementor-element.elementor-element-d16847f img {
    width: 100%;
}

.elementor-32 .elementor-element.elementor-element-d16847f {
    width: var( --container-widget-width, 112.545%);
    max-width: 112.545%;
    --container-widget-width: 112.545%;
    --container-widget-flex-grow: 0;
}

.elementor-32 .elementor-element.elementor-element-12a5941 {
    --spacer-size: 10px;
}

.elementor-32 .elementor-element.elementor-element-9146614>.elementor-background-overlay {
    opacity: 0.91;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-32 .elementor-element.elementor-element-9146614 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0px 0px 0px;
}

.elementor-32 .elementor-element.elementor-element-7781e1c3 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-32 .elementor-element.elementor-element-3f8befed {
    text-align: center;
}

.elementor-32 .elementor-element.elementor-element-3f8befed .elementor-heading-title {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-32 .elementor-element.elementor-element-3f8befed>.elementor-widget-container {
    margin: 0px 0px 32px 0px;
}

.elementor-32 .elementor-element.elementor-element-5372376 {
    text-align: center;
}

.elementor-32 .elementor-element.elementor-element-6682e74 {
    text-align: center;
}

.elementor-32 .elementor-element.elementor-element-28b601bf {
    overflow: hidden;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
    z-index: 2;
}

.elementor-32 .elementor-element.elementor-element-28b601bf>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-32 .elementor-element.elementor-element-6525990a.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-32 .elementor-element.elementor-element-6525990a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-32 .elementor-element.elementor-element-6525990a.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-32 .elementor-element.elementor-element-2a86a281 {
    --spacer-size: 1px;
}

.elementor-32 .elementor-element.elementor-element-4a9d359a {
    text-align: left;
}

.elementor-32 .elementor-element.elementor-element-4a9d359a>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-32 .elementor-element.elementor-element-27305e58 {
    text-align: left;
    width: var( --container-widget-width, 650px);
    max-width: 650px;
    --container-widget-width: 650px;
    --container-widget-flex-grow: 0;
}

.elementor-32 .elementor-element.elementor-element-43fbd1e3 {
    --spacer-size: 32px;
}

.elementor-32 .elementor-element.elementor-element-21904596 {
    --spacer-size: 1px;
}

.elementor-bc-flex-widget .elementor-32 .elementor-element.elementor-element-17daa463.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-32 .elementor-element.elementor-element-17daa463.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-32 .elementor-element.elementor-element-17daa463.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-32 .elementor-element.elementor-element-17daa463>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 48px 0px 0px;
    --e-column-margin-right: 48px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-32 .elementor-element.elementor-element-17daa463>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-32 .elementor-element.elementor-element-5dbc1481 img {
    width: 100%;
}

.elementor-32 .elementor-element.elementor-element-5dbc1481 {
    z-index: 1;
}

.elementor-32 .elementor-element.elementor-element-6184f35 {
    overflow: hidden;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 80px 0px;
    z-index: 2;
}

.elementor-32 .elementor-element.elementor-element-6184f35>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-32 .elementor-element.elementor-element-66d75f8.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-32 .elementor-element.elementor-element-66d75f8.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-32 .elementor-element.elementor-element-66d75f8.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-32 .elementor-element.elementor-element-66d75f8>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 48px 0px 0px;
    --e-column-margin-right: 48px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-32 .elementor-element.elementor-element-66d75f8>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-32 .elementor-element.elementor-element-df50afa img {
    width: 70%;
}

.elementor-32 .elementor-element.elementor-element-df50afa {
    z-index: 1;
}

.elementor-bc-flex-widget .elementor-32 .elementor-element.elementor-element-523a464.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-32 .elementor-element.elementor-element-523a464.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-32 .elementor-element.elementor-element-523a464.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-32 .elementor-element.elementor-element-0fed9de {
    --spacer-size: 1px;
}

.elementor-32 .elementor-element.elementor-element-69b8e06 {
    text-align: left;
}

.elementor-32 .elementor-element.elementor-element-69b8e06>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-32 .elementor-element.elementor-element-908ef5e {
    --spacer-size: 24px;
}

.elementor-32 .elementor-element.elementor-element-4f05d76 {
    text-align: left;
    width: var( --container-widget-width, 650px);
    max-width: 650px;
    --container-widget-width: 650px;
    --container-widget-flex-grow: 0;
}

.elementor-32 .elementor-element.elementor-element-8b72216 {
    --spacer-size: 32px;
}

.elementor-32 .elementor-element.elementor-element-7e3bc50 {
    --spacer-size: 1px;
}

.elementor-32 .elementor-element.elementor-element-a69adf7 {
    overflow: hidden;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 096px 0px;
    z-index: 2;
}

.elementor-32 .elementor-element.elementor-element-a69adf7>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-32 .elementor-element.elementor-element-f160f82.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-32 .elementor-element.elementor-element-f160f82.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-32 .elementor-element.elementor-element-f160f82.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-32 .elementor-element.elementor-element-6dd5fdb {
    --spacer-size: 1px;
}

.elementor-32 .elementor-element.elementor-element-cf1a08a {
    text-align: left;
}

.elementor-32 .elementor-element.elementor-element-cf1a08a>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-32 .elementor-element.elementor-element-3d14253 {
    --spacer-size: 24px;
}

.elementor-32 .elementor-element.elementor-element-fb53f61 {
    text-align: left;
    width: var( --container-widget-width, 650px);
    max-width: 650px;
    --container-widget-width: 650px;
    --container-widget-flex-grow: 0;
}

.elementor-32 .elementor-element.elementor-element-c3f226f {
    --spacer-size: 1px;
}

.elementor-bc-flex-widget .elementor-32 .elementor-element.elementor-element-d15c3b9.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-32 .elementor-element.elementor-element-d15c3b9.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-32 .elementor-element.elementor-element-d15c3b9.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-32 .elementor-element.elementor-element-d15c3b9>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 48px 0px 0px;
    --e-column-margin-right: 48px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-32 .elementor-element.elementor-element-d15c3b9>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-32 .elementor-element.elementor-element-06d0619 img {
    width: 50%;
}

.elementor-32 .elementor-element.elementor-element-06d0619 {
    z-index: 1;
}

.elementor-32 .elementor-element.elementor-element-45dc6936 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 32px;
    margin-bottom: 120px;
    z-index: 1;
}

.elementor-32 .elementor-element.elementor-element-45dc6936>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-32 .elementor-element.elementor-element-57a14f91>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 30px 0px 30px;
}

.elementor-32 .elementor-element.elementor-element-57a14f91>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-32 .elementor-element.elementor-element-49f23209,
.elementor-32 .elementor-element.elementor-element-49f23209>.elementor-background-overlay {
    border-radius: 10px 10px 10px 10px;
}

.elementor-32 .elementor-element.elementor-element-49f23209 {
    box-shadow: 0px 7px 64px -14px rgba(0, 0, 0, 0.25);
    padding: 30px 30px 30px 30px;
    z-index: 0;
}

.elementor-32 .elementor-element.elementor-element-37bb27ac {
    --e-image-carousel-slides-to-show: 4;
}

.elementor-32 .elementor-element.elementor-element-37bb27ac .swiper-wrapper {
    display: flex;
    align-items: center;
}

@media(max-width:1024px) {
    .elementor-32 .elementor-element.elementor-element-e775626 {
        margin-top: -120px;
        margin-bottom: 0px;
        padding: 120px 0px 40px 0px;
    }
    .elementor-32 .elementor-element.elementor-element-edadda2>.elementor-element-populated {
        padding: 0em 4em 4em 4em;
    }
    .elementor-32 .elementor-element.elementor-element-768aeef {
        text-align: center;
    }
    .elementor-32 .elementor-element.elementor-element-768aeef>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-32 .elementor-element.elementor-element-579a639 {
        text-align: center;
    }
    .elementor-32 .elementor-element.elementor-element-65af4dc {
        text-align: center;
    }
    .elementor-32 .elementor-element.elementor-element-e4423e9 .elementor-widget-container {
        text-align: center;
    }
    .elementor-32 .elementor-element.elementor-element-d16847f img {
        width: 40%;
    }
    .elementor-32 .elementor-element.elementor-element-9146614 {
        padding: 0px 0px 48px 0px;
    }
    .elementor-32 .elementor-element.elementor-element-28b601bf {
        padding: 0px 0px 0px 0px;
    }
    .elementor-32 .elementor-element.elementor-element-6525990a.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }
    .elementor-32 .elementor-element.elementor-element-6525990a>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-32 .elementor-element.elementor-element-4a9d359a {
        text-align: center;
    }
    .elementor-32 .elementor-element.elementor-element-27305e58 {
        text-align: center;
        width: 100%;
        max-width: 100%;
    }
    .elementor-32 .elementor-element.elementor-element-17daa463>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-32 .elementor-element.elementor-element-5dbc1481 img {
        width: 30%;
    }
    .elementor-32 .elementor-element.elementor-element-5dbc1481>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-32 .elementor-element.elementor-element-6184f35 {
        padding: 0px 0px 0px 0px;
    }
    .elementor-32 .elementor-element.elementor-element-66d75f8>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-32 .elementor-element.elementor-element-df50afa img {
        width: 40%;
    }
    .elementor-32 .elementor-element.elementor-element-df50afa>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-32 .elementor-element.elementor-element-523a464.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }
    .elementor-32 .elementor-element.elementor-element-523a464>.elementor-element-populated {
        padding: 0px 30px 0px 30px;
    }
    .elementor-32 .elementor-element.elementor-element-69b8e06 {
        text-align: center;
    }
    .elementor-32 .elementor-element.elementor-element-4f05d76 {
        text-align: center;
    }
    .elementor-32 .elementor-element.elementor-element-a69adf7 {
        padding: 0px 0px 0px 0px;
    }
    .elementor-32 .elementor-element.elementor-element-f160f82.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }
    .elementor-32 .elementor-element.elementor-element-f160f82>.elementor-element-populated {
        padding: 0px 30px 0px 30px;
    }
    .elementor-32 .elementor-element.elementor-element-cf1a08a {
        text-align: center;
    }
    .elementor-32 .elementor-element.elementor-element-fb53f61 {
        text-align: center;
    }
    .elementor-32 .elementor-element.elementor-element-d15c3b9>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-32 .elementor-element.elementor-element-06d0619 img {
        width: 45%;
    }
    .elementor-32 .elementor-element.elementor-element-06d0619>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-32 .elementor-element.elementor-element-45dc6936 {
        padding: 32px 0px 32px 0px;
    }
    .elementor-32 .elementor-element.elementor-element-37bb27ac {
        --e-image-carousel-slides-to-show: 3;
    }
}

@media(max-width:767px) {
    .elementor-32 .elementor-element.elementor-element-e775626 {
        margin-top: -80px;
        margin-bottom: 0px;
        padding: 120px 0px 30px 0px;
    }
    .elementor-32 .elementor-element.elementor-element-edadda2>.elementor-element-populated {
        padding: 0em 2em 2em 2em;
    }
    .elementor-32 .elementor-element.elementor-element-768aeef>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-32 .elementor-element.elementor-element-65af4dc {
        text-align: center;
    }
    .elementor-32 .elementor-element.elementor-element-e4423e9 .elementor-widget-container {
        text-align: center;
    }
    .elementor-32 .elementor-element.elementor-element-d16847f img {
        width: 50%;
    }
    .elementor-32 .elementor-element.elementor-element-12a5941 {
        --spacer-size: 0px;
    }
    .elementor-32 .elementor-element.elementor-element-9146614 {
        padding: 40px 0px 0px 0px;
    }
    .elementor-32 .elementor-element.elementor-element-12be6859>.elementor-element-populated {
        padding: 0px 30px 0px 30px;
    }
    .elementor-32 .elementor-element.elementor-element-28b601bf {
        padding: 0px 0px 0px 0px;
    }
    .elementor-32 .elementor-element.elementor-element-6525990a.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-32 .elementor-element.elementor-element-6525990a>.elementor-element-populated {
        padding: 25px 25px 25px 25px;
    }
    .elementor-32 .elementor-element.elementor-element-27305e58 {
        text-align: center;
    }
    .elementor-32 .elementor-element.elementor-element-5dbc1481 img {
        width: 100%;
    }
    .elementor-32 .elementor-element.elementor-element-6184f35 {
        padding: 0px 0px 0px 0px;
    }
    .elementor-32 .elementor-element.elementor-element-df50afa img {
        width: 50%;
    }
    .elementor-32 .elementor-element.elementor-element-523a464.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-32 .elementor-element.elementor-element-4f05d76 {
        text-align: center;
    }
    .elementor-32 .elementor-element.elementor-element-a69adf7 {
        padding: 0px 0px 0px 0px;
    }
    .elementor-32 .elementor-element.elementor-element-f160f82.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-32 .elementor-element.elementor-element-3d14253 {
        --spacer-size: 0px;
    }
    .elementor-32 .elementor-element.elementor-element-fb53f61 {
        text-align: justify;
    }
    .elementor-32 .elementor-element.elementor-element-06d0619 img {
        width: 60%;
    }
    .elementor-32 .elementor-element.elementor-element-45dc6936 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-32 .elementor-element.elementor-element-57a14f91>.elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }
    .elementor-32 .elementor-element.elementor-element-49f23209 {
        padding: 30px 30px 30px 30px;
    }
    .elementor-32 .elementor-element.elementor-element-37bb27ac {
        --e-image-carousel-slides-to-show: 2;
    }
}

@media(min-width:768px) {
    .elementor-32 .elementor-element.elementor-element-edadda2 {
        width: 50%;
    }
    .elementor-32 .elementor-element.elementor-element-0d30074 {
        width: 46.664%;
    }
    .elementor-32 .elementor-element.elementor-element-57b29a8 {
        width: 53.045%;
    }
    .elementor-32 .elementor-element.elementor-element-ca6697a {
        width: 50%;
    }
    .elementor-32 .elementor-element.elementor-element-257bc87e {
        width: 20%;
    }
    .elementor-32 .elementor-element.elementor-element-12be6859 {
        width: 59.333%;
    }
    .elementor-32 .elementor-element.elementor-element-4ae90e75 {
        width: 20%;
    }
    .elementor-32 .elementor-element.elementor-element-57b28312 {
        width: 2.153%;
    }
    .elementor-32 .elementor-element.elementor-element-6525990a {
        width: 40.972%;
    }
    .elementor-32 .elementor-element.elementor-element-17daa463 {
        width: 56.462%;
    }
    .elementor-32 .elementor-element.elementor-element-66d75f8 {
        width: 56.462%;
    }
    .elementor-32 .elementor-element.elementor-element-523a464 {
        width: 40.972%;
    }
    .elementor-32 .elementor-element.elementor-element-adcd783 {
        width: 2.153%;
    }
    .elementor-32 .elementor-element.elementor-element-40fecc8 {
        width: 2.153%;
    }
    .elementor-32 .elementor-element.elementor-element-f160f82 {
        width: 40.972%;
    }
    .elementor-32 .elementor-element.elementor-element-d15c3b9 {
        width: 56.462%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-32 .elementor-element.elementor-element-edadda2 {
        width: 100%;
    }
    .elementor-32 .elementor-element.elementor-element-0d30074 {
        width: 100%;
    }
    .elementor-32 .elementor-element.elementor-element-57b29a8 {
        width: 100%;
    }
    .elementor-32 .elementor-element.elementor-element-ca6697a {
        width: 100%;
    }
    .elementor-32 .elementor-element.elementor-element-12be6859 {
        width: 100%;
    }
    .elementor-32 .elementor-element.elementor-element-6525990a {
        width: 100%;
    }
    .elementor-32 .elementor-element.elementor-element-17daa463 {
        width: 100%;
    }
    .elementor-32 .elementor-element.elementor-element-66d75f8 {
        width: 100%;
    }
    .elementor-32 .elementor-element.elementor-element-523a464 {
        width: 100%;
    }
    .elementor-32 .elementor-element.elementor-element-f160f82 {
        width: 100%;
    }
    .elementor-32 .elementor-element.elementor-element-d15c3b9 {
        width: 100%;
    }
}

/* Start custom CSS for text-editor, class: .elementor-element-65af4dc */

.elementor-32 .elementor-element.elementor-element-65af4dc {
    word-wrap: break-word;
}

/* End custom CSS */